<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{{ title|striptags }}{% if pagename != 'index' %} - Craft Docs{% endif %}</title>
	<link rel="stylesheet" href="/resources/css/buildwithcraft.css" type="text/css">
	<link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
	<link rel="stylesheet" href="{{ pathto('_static/css/docs.css', 1) }}" type="text/css" />
</head>

<body id="docs">
	<nav id="nav">
		<ul class="centered">
			<li><a id="nav-home" href="/" title="Craft Home"></a></li>
			<li><a class="sel" href="/docs">Docs</a></li>
			<li><a href="/releases">Releases</a></li>
			<li><a href="https://plus.google.com/communities/106505340287442511226">Community</a></li>
		</ul>
	</nav>

	<div id="container" class="centered">
		<div class="sidebar">
			<nav class="nav">
				{{ toctree() }}
			</nav>
		</div>

		<div class="main">
			{% if parents %}
				<ul class="crumbs">
					{%- for parent in parents %}
					<li><a href="{{ parent.link|e }}">{{ parent.title }}</a></li>
					{%- endfor %}
				</ul>
			{% endif %}

			{% block body %}{% endblock %}

			{% if next %}
			<nav class="nav">
				Next up: <a href="{{ next.link|e }}">{{ next.title|striptags|e }}</a></li>
			</nav>
			{% endif %}
		</div>
	</div>
</body>
</html>
