/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: separate; border-spacing: 0; }
a { text-decoration: none; }
input, textarea { margin: 0; font-family: 'Lucida Grande', sans-serif; font-size: 100%; }
textarea { resize: none; }
select { margin: 0; }

/* layout */
html, body { background: #f5f5f5; }
html, body, #sidebar { height: 100%; }

#nav { margin-bottom: 0; background: hsl(8, 67%, 57%);
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1);
	        box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1);
}

#container { position: relative; padding: 0; background: #fff; min-height: 500px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
}
#container:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

#sidebar { position: absolute; left: 0; padding-top: 25px; width: 250px; overflow: auto; border-right: 1px solid #eee; font-size: 13px; }
#sidebar .nav { padding: 0 30px; overflow: hidden; }
#sidebar .nav.fixed { position: fixed; top: 0; width: 190px; }
#sidebar .nav a { display: block; padding: 4px 0; color: #555; text-decoration: none; }
#sidebar .nav a:hover { color: #5295ff; }
#sidebar .nav a.current { margin: 0 -30px 0 -250px; padding: 4px 30px 4px 250px; background: #555; color: #fff; cursor: default; }
#sidebar ul ul { margin-left: 15px; }

#main { position: relative; padding: 25px 50px; }
#main.has-sidebar { margin-left: 250px; }

.crumbs { margin-bottom: 5px; font-size: 13px; }
.crumbs:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }
.crumbs li { float: left; }
.crumbs li:after { margin: 0 5px; content: '/'; color: #999; }

#main .nav { margin-top: 50px; padding-top: 15px; border-top: 1px solid #eee; color: #999; }

.tip { margin: 1em 0; border: 2px solid #f5f5f5; padding: 5px 7px; }

/* basics */
body { font-size: 13px; line-height: 1.4; color: #555; }
body, input, textarea { font-family: HelveticaNeue, sans-serif; }

.left { float: left; }
.right { float: right; }

/* headings */
h1 { margin-bottom: 30px; font-size: 29px; line-height: 1.2; color: #000; }
#main h1 { padding-bottom: 15px; border-bottom: 1px solid #eee; }
h2 { margin: 30px 0 15px; font-size: 15px; font-weight: bold; line-height: 1.2; color: #2c2c2c; }
h3 { margin: 15px 0; font-weight: bold; line-height: 1.2; color: #555; }

hr { margin: 30px 0; border: none; border-top: 1px solid #dbdbdb; height: 0; color: transparent; }

dl { margin: 1em 0; }
dl dt { margin-top: 2em; font-weight: bold; }
dl dd { margin-left: 30px; }

p, pre, dd { margin-top: 1em; margin-bottom: 1em; }

ul.simple,
.toctree-wrapper ul { padding-left: 40px; list-style-type: square; }
ol { padding-left: 40px; list-style-type: decimal; }

.highlight,
.literal,
pre { font-family: Menlo, monospace; }

#main .highlight,
#main .literal,
#main pre { background: #fcfcfc; }

.literal { display: inline-block; padding: 0 1px;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

pre { padding: 15px; overflow: auto;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
	   -moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 10px -2px rgba(0,0,0,0.25);
}

#main a { color: #5295ff; cursor: pointer; }
#main a:hover { text-decoration: underline; }

em { font-style: italic; }
strong { font-weight: bold; }

/* header links */
a.headerlink { margin-left: 5px; color: #ddd; visibility: hidden; }
a.headerlink:hover { color: hsl(203, 79%, 50%); text-decoration: none; }
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink { visibility: visible; }

/* responsive! */

@media screen and (max-width: 500px) {
	#main { padding: 25px 10px; }
}
